.country--single--info {
    min-width: 70%;
    height: 90%;
    margin: auto;

    & .info--top {
        width: 100%;
        height: 55%;
        padding: 0.5rem 0.5rem 0 0.5rem;
        display: flex;
        background-color: rgba(255, 255, 255, 0.6);

        & .info--top--main {
            width: 65%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            flex-direction: column;
            justify-content: space-around;


            & h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                letter-spacing: 1px;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

                & img {
                    margin-left: 1rem;
                    width: 30px;
                    -webkit-filter: drop-shadow(2px 2px 2px #666666);
                    filter: drop-shadow(2px 2px 2px #666666);
                }
            }

            & h3 {
                margin-bottom: 1rem;
                text-align: center;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
            }

            & p {
                margin-left: 1rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;

                & img {
                    width: 25px;
                    margin-right: 0.5rem;
                }

                & sup {
                    font-size: small;
                    transform: translateY(-4px);
                }
            }
        }

        & .info--top--flag {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.6);


            & .flag--img {
                width: 100%;
                height: 70%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                -webkit-filter: drop-shadow(2px 2px 5px #666666);
                filter: drop-shadow(2px 2px 5px #666666);
            }

            & p {
                margin-bottom: 2.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

            }
        }
    }

    & .info--bottom {
        width: 100%;
        height: 45%;
        padding: 0 0.5rem 0.5rem 0.5rem;
        display: flex;
        background-color: rgba(255, 255, 255, 0.6);


        & .map--info {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: #fff;
            background-color: rgba(255, 255, 255, 0.8);


            & p {
                margin-left: 1rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-top: 0.2rem;
                }

                & img {
                    width: 25px;
                    margin-right: 0.5rem;
                }

                & a {
                    text-decoration: none;
                    color: #0066CB;
                    margin-left: 0.5rem;

                    & span {
                        -webkit-filter: drop-shadow(2px 2px 5px #666666);
                        filter: drop-shadow(2px 2px 5px #666666);
                    }
                }
            }

        }


    }
}