.greeting {
    width: 45%;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    left: 4rem;
    border-radius: 0.5rem;
    // border-bottom-right-radius: 8rem;
    background-color: #95d5b2;
    z-index: 0;


    & p {
        font-size: 2rem;
        color: #1b4332;

    }
}
