.logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    // background-color: yellow;

    & img {
        width: 20%;
        height: 100%;
    }

    & p {
        font-size: 1.5rem;
        color: #1b4332;
    }

}