.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;

    & img {
        min-width: 65px;
        width: 80%;
        height: 80%;
        object-fit: contain;
        cursor: pointer;
    }


}

.nav {
    height: 100%;
    display: grid;
    place-items: center;


    & p {
        text-transform: uppercase;
        font-size: 1.5rem;
        cursor: pointer;
        color: $header-clr;

        &:active {
            transform: scale(0.7);
        }
    }


}