.selected__country {
    width: 70%;
    height: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    @include fade-in;

    &.extra-width {
        width: 88%;
    }

    &.hide {
        opacity: 0;
    }


    & .info-top {
        width: 100%;
        height: 55%;
        padding: 0.5rem 0.5rem 0 0.5rem;
        display: flex;
        background-color: $primary-opacity1-clr;

        &--main {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: $primary-opacity2-clr;
            // background-color: #0066CB;


            & h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                letter-spacing: 1px;
                text-shadow: $drop-shadow-primary;
                margin: 0 3rem;

                & img {
                    margin-left: 1rem;
                    width: 30px;
                    -webkit-filter: drop-shadow($coa-shadow);
                    filter: drop-shadow($coa-shadow);
                }
            }

            & h3 {
                margin-bottom: 1rem;
                text-align: center;
                text-shadow: $drop-shadow-primary;
            }

            & p {
                margin-left: 1rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                font-family: default;

                & img {
                    width: 25px;
                    margin-right: 0.5rem;
                    -webkit-filter: drop-shadow($drop-shadow-primary);
                    filter: drop-shadow($drop-shadow-primary);

                }

                & sup {
                    font-size: small;
                    transform: translateY(-4px);
                }


            }
        }

        &--flag {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            background-color: $primary-opacity1-clr;


            &__img {
                width: 90%;
                height: 70%;
                margin-top: 0.5rem;
                background-position: top;
                background-repeat: no-repeat;
                background-size: contain;
                -webkit-filter: drop-shadow($drop-shadow-secondary);
                filter: drop-shadow($drop-shadow-secondary);
            }

            & p {
                // margin-bottom: 2.5rem;
                font-size: 1.2rem;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                text-shadow: $drop-shadow-primary;
                text-align: center;

            }
        }
    }

    & .info-bottom {
        width: 100%;
        height: 45%;
        padding: 0 0.5rem 0.5rem 0.5rem;
        display: flex;
        background-color: $primary-opacity1-clr;


        &--map {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $primary-opacity2-clr;
            // background-color: #fff;

            &.short {
                height: 35%;
            }


            & p {
                margin-left: 1rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-top: 0.2rem;
                }

                & img {
                    width: 25px;
                    margin-right: 0.5rem;
                    -webkit-filter: drop-shadow($drop-shadow-primary);
                    filter: drop-shadow($drop-shadow-primary);

                }

                & a {
                    text-decoration: none;
                    color: $link-clr;
                    margin-left: 0.5rem;

                    & span {
                        -webkit-filter: drop-shadow(drop-shadow-secondary);
                        filter: drop-shadow(drop-shadow-secondary);
                    }
                }
            }

        }


    }
}