.countries__all {
    width: 100%;
    height: calc(100% - 30px);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 7rem));
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: $header-clr #DCDCDC;
    position: relative;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 10px $header-clr;
        -webkit-box-shadow: inset 0 0 10px $header-clr;
    }



    & .countries__single {
        max-height: 8rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.1s linear;
        cursor: pointer;

        &.fadeIn {
            @include fade-in;
        }


        &:hover {
            border: 1px solid $secondary-clr;
        }

        &-flag {
            width: 100%;
            height: 60%;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;

                &.shadow {
                    -webkit-filter: drop-shadow($drop-shadow-secondary);
                    filter: drop-shadow($drop-shadow-secondary);
                }
            }
        }

        & p {
            text-align: center;
            transition: all 0.1s linear;
            font-family: 'Lato',
                sans-serif;
            font-weight: 300;
        }

    }

    .no-matches {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-family: 'Lato',
            sans-serif;
        color: $header-clr;
        position: absolute;
    }

}