.info-bottom--converter {
    width: 35%;
    height: 100%;
    font-family: 'Lato',
        sans-serif;
    // background-color: #fff;
     &.hide {
         height: 25%;
     }

      & .converter-btn-container {
          width: 100%;
          height: 100%;
          display: none;
          align-items: center;
          justify-content: center;
          background-color: $primary-opacity1-clr;

          &.visible {
              display: flex;
          }

          & .show-converter {
              width: 30%;
              height: 1.5rem;
              margin: 0 auto;
              background-color: transparent;
              border: 1px solid #686868;
              border-radius: 0.3rem;
              cursor: pointer;

              &:active {
                  transform: scale(0.7);
              }
          }
      }




    & .converter__header {
        padding: 0 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & img {
            width: 30px;
            -webkit-filter: drop-shadow($drop-shadow-primary);
            filter: drop-shadow($drop-shadow-primary);
        }

        & p {
            text-align: center;
            text-shadow: $drop-shadow-primary;
        }

    }


    & .converter__calc {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $primary-opacity1-clr;


         &.hide {
             display: none;
         }

        & label[for="amount"] {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            & input {
                border: 1px solid #686868;
                border-radius: 0.3rem;
                outline: none;
                font-size: 1.1rem;
                height: 1.7rem;
                padding-left: 1rem;
                background-color: transparent;
                cursor: pointer;
                   &::placeholder {
                       /* Chrome, Firefox, Opera, Safari 10.1+ */
                       /* Firefox */
                       opacity: 0.5;
                   }

                   &:-ms-input-placeholder {
                       /* Internet Explorer 10-11 */
                       opacity: 0.5;
                   }

                   &::-ms-input-placeholder {
                       /* Microsoft Edge */
                       opacity: 0.5;
                   }

                &:focus {
                    border: 1px solid $link-clr;
                    cursor: text;
                }
            }
        }

        &-currencies {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 0 auto;
            // background-color: red;
            position: relative;

            & label {
                width: 35%;

                & select {
                    width: 100%;
                    height: 1.5rem;
                    border: 1px solid #686868;
                    border-radius: 0.3rem;
                    background-color: transparent;
                    cursor: pointer;


                    &:focus {
                        border: 1px solid $link-clr;
                    }
                }
            }


        }

        &-change,
        &-convert {
            width: 30%;
            height: 1.5rem;
            margin: 0 auto;
            background-color: transparent;
            border: 1px solid #686868;
            border-radius: 0.3rem;
            cursor: pointer;

            &:active {
                transform: scale(0.7);
            }

            & img {
                width: 20px;
            }
        }



        &-result {
            width: 90%;
            height: 1.7rem;
            margin: 0 auto;
            // background-color: black;
            text-align: center;
            font-size: 1.2rem;
            transition: all 0.1s ease-in-out;

            &.error {
                color: $footer-link;
            }
        }
    }
}